body {
  font-family: sans-serif;
  width: 250px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 5px;
}

.input-group input {
  width: 50px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#countdown {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}
